duty,time,mon,tues,wed,thurs,fri
,,,,,,
phones,,,,,,
1,6,"Joanna,Matt,","Joanna,Matt,","Joanna,Matt,","Joanna,Matt,","Joanna,Matt,"
1,8,"Katie,Jennifer,Danny,","Tommy,Greg,Megan,","Katie,Jennifer,Danny,","Tommy,Greg,Megan,","Katie,Danny,Brett,Megan,"
,,,,,,
triage,,,,,,
2,6,"Joanna,Matt,","Joanna,Matt,","Joanna,Matt,","Joanna,Matt,","Joanna,Matt,"
2,8,"Danny,","Katie,","David,","Lisa,","Brett,"
,,,,,,
chat,,,,,,
3,8,"Tommy,Megan,","Lisa,David,","Brett,Danny,","Danny,Greg,","Katie,Tommy,"
3,14,"Adam,Samuel,Morgan,","Kyle,Harold,Conor,","Tony,Samuel,Morgan,","Kyle,Adam,Conor,","Henry,Kyle,Morgan,"
,,,,,,
sweeper,,,,,,
4,8,"Danny,","Katie,","Brett,","Megan,","Lisa,"
4,11.5,"Samuel,","Tony,","Henry,","Harold,","Adam,"
