; Triage Helper v2.0
; Developed by Jake Nabasny

[app]
url = "https://example.com/triage/"
auto-refresh = 300
pass = "p@$$w0rd"
admin_pass = "@DM|N_P@$$w0rd"
shift_length = 9
; Hours before an agent's start time that they will be displayed in the active list:
preshift_buffer = 2
postshift_buffer = 1
; Hour when AM people (starting at 8 or before) show up in list in evening
; Set to 24 to disable
am_agents_appear = 18

[db]
; Can't be changed without breaking editor, currently
schedule = "schedule.csv"
duties = "duties.csv"

[tickets_URL]
; Pre- and post-pend URL to agent ID:
pre = "https://ticket-system.com/a/tickets/?agent="
post = "&q[]=status%3A%5B0%5D&ref=256627"

[jobs]
1 = "phones"
2 = "triage"
3 = "chat"
4 = "sweeper"

[duration]
1 = 4
2 = 8.5
3 = 6
4 = 8.5

[email]
; For SharePoint integration. Send calendar notifications to this mailbox:
imap = "{imap.gmail.com:993/imap/ssl}INBOX"
imap_user = "triage-email-account@gmail.com"
imap_pass = "pass"
; For notifications about substitutions when an agent is off:
smtp_host = "smtp.gmail.com"
smtp_port = 587
smtp_user = "triage-email-account@gmail.com"
smtp_pass = "pass"
recipient = "triage-DL@example.com"
