* {
	margin: 0;
	padding: 0;
	border: 0;
	outline: 0;
}

body {
	font-family:Helvetica,Arial;
	font-size:30px;
	color:#0E0B16;
	background-color:lightgrey;
}

.out-banner a {
	color:white;
}
.out-banner a:hover {
	color:black;
}

.out-banner {
	color:white;
	background-color:red;
	font-size: 16px;
	font-weight: bold;
	width:100%;
	position:relative;
	padding-top: 12px;
	padding-bottom: 5px;
	text-align: center;
}

.dropbtn {
  background-color: lightgrey;
  color: #0E0B16;
  font-size: 38px;
  padding: 0 15px;
  border: none;
  cursor: pointer;
  text-align:center;
}

.dropbtn:hover, .dropbtn:focus {
  background-color: lightgrey;
}

.dropdown {
  float: right;
  position: relative;
  display: inline-block;
}

.dropdown-content {
  display: none;
  font-size: 16px;
  position: absolute;
  background-color: lightgrey;
  min-width: 160px;
  overflow: auto;
  right: 0;
  z-index: 1;
}

.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.dropdown a:hover {background-color: #ddd; color: black;}


.dropdown-content .critical {
  background-color: tomato;
  color: white;
}

.dropdown-content .critical:hover {
  background-color: tomato;
  color: white;
  font-weight: bold;
  text-decoration: none;
  cursor: pointer;
}

.show {display: block;}

title { text-align:left; margin-bottom: 5px;}

.tooltip {
  position: relative;
  display: inline-block;
  border-bottom: 1px dotted dodgerblue;
}

.tooltip .tooltiptext {
  font-size: small;
  visibility: hidden;
  width: auto;
  background-color: dodgerblue;
  color: #fff;
  text-align: center;
  border-radius: 6px;
  padding: 5px 7px;
  position: absolute;
  margin-left: 15px;
  margin-top: 2px;
  z-index: 1;
  white-space: nowrap;
}

.tooltip .tooltiptext::after {
  content: " ";
  position: absolute;
  top: 50%;
  right: 100%;
  margin-top: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: transparent dodgerblue transparent transparent;
}

.tooltip:hover .tooltiptext {
  visibility: visible;
}

.content {
	margin: 0 10px;
}

a {
	text-decoration: none;
	color: black;
}
a:hover {
	color: red;
	text-decoration: underline;
}


.out a {
	text-decoration: none;
	color: red;
}
.out a:hover {
	text-decoration: underline;
}

#agents {
  font-family: Arial, Helvetica, sans-serif;
  border-collapse: collapse;
  width: 100%;
}

#agents td, #agents th {
  border: 1px solid #ddd;
  padding: 8px;
}

#agents tr {background-color: #f2f2f2;}

#DISABLEagents tr:hover {background-color: #ddd;}

#agents th {
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: left;
  background-color: #34282C;
  color: white;
}

#agents caption { font-weight:bold; }

#agent-table { display: block; }


